@{
    Layout = null;

    var paths = ConfigurationHelper.GetSection<XXY.Configuration.PathConfig>().Paths;
    var logout = paths.Get("Logout").Path;
    var pwd = paths.Get("ChangePwd").Path;
    var info = paths.Get("UserInfo").Path;
    var datas = PageDatas.GetInstance();
}

@if (datas.IsLogined) {

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> @datas.User.UserName <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@pwd">@StaticRes.ChangePwd</a></li>
                <li><a href="@info">@StaticRes.MyProfile</a></li>
                <li class="divider"></li>
                <li><a href="@logout">@StaticRes.Signout</a></li>
            </ul>
        </li>
    </ul>
}